# The base URI for the application. This is used in the inbound.py file.
# Example: 
# BASE_URI=voice-bot.example.com
BASE_URI=

# ## LLM
# Name of the model to use 'gpt-4o' etc.
LLM_MODEL=qwen2-dolphin2.9.2:latest
# The API key for OpenAI. This is used for natural language processing tasks.
OPENAI_API_KEY=
# Optional, can be used to use Groq, Ollama, or any other OpenAI based URLs
#OPENAI_BASE_URL=

# ## TTS
# Or Eleven Labs
ELEVEN_LABS_API_KEY=
ELEVEN_LABS_VOICE_ID=

# ## SST
# The API key for Deepgram. This is used for speech recognition.
DEEPGRAM_API_KEY=

# ## Telephony
# The account SID and authentication token for Twilio. These are used for making API requests to Twilio.
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# Only for outgoing calls
# The phone number to call from.
FROM_PHONE=
# The phone number to call to.
TO_PHONE=